name: Publish Package

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    uses: apexskier/homebridge-workflows/.github/workflows/publish.yml@main
